{
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 80,
	"trailingComma": "all",
	"singleQuote": false,
	"bracketSpacing": true,
	"semi": true,
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
